@charset "utf-8";

/** Better Formatting Redux plugin **/

$position-x: 2px;
$position-y: -13px;

.bf-toolbar .bf-arrow {
  transform: translate($position-x, $position-y) !important
}

.bf-toolbar.bf-visible .bf-arrow,
.bf-toolbar.bf-hover:hover .bf-arrow {
  transform: translate($position-x, $position-y) rotate(-90deg) !important
}
