@charset "utf-8";
@import "../variables";

/** Magane plugin **/

div#magane {
  div.stickerWindow {
    background-color: var(--popout-color) !important;
    border-radius: var(--popout-radius-big) !important;
    box-shadow: var(--shadow-3dp) !important;
    right: 256px !important;
    bottom: 66px !important;
    animation: bottom-pop-out 400ms var(--default-animation) !important;

    div.stickers div.pack span {
      font-weight: bold !important;
      font-variant-caps: small-caps !important
    }
  }

  .button {
    font-weight: bold !important;
    text-transform: uppercase !important
  }

  [data-simplebar] {
    .simplebar-scrollbar {
      &::before {
        background: rgb(var(--scrollbar-color)) !important;
        border: 0 solid transparent !important;
        border-radius: 5px !important
      }

      &.simplebar-visible::before {
        opacity: 0.15 !important
      }

      &.simplebar-visible.simplebar-hover::before {
        opacity: 0.25 !important
      }
    }

    &.simplebar-dragging {
      .simplebar-scrollbar {
        &.simplebar-visible::before {
          opacity: 0.3 !important
        }
      }
    }
  }

  .simplebar-content-wrapper::-webkit-scrollbar {
    display: none !important
  }
}
