@charset "utf-8";

/** PermissionsViewer plugin **/

/* Member Cards */
.member-perms .member-perm {
  position: relative;
  min-width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 16px;
  border: none;
  background: var(--popout-color);
  transition: 200ms ease;
  font-size: 11px
}

.member-perms .member-perm .perm-circle {
  width: 16px !important;
  height: 16px !important
}

.member-perms .member-perm .name {
  color: inherit;
  margin: 0 4px 0 2px
}
