@charset "utf-8";

/** Show Hidden Channels plugin **/

.modeLocked-SZJhTy .content-3at_AU {
  svg path:nth-child(2),
  .children-Bmpf2Q {
    display: none
  }
}

.containerDefault-3GGEv_ .wrapper-CU3qI5[data-ref-id="channels--1"] .name-IbjUBS {
  text-transform: capitalize;

  &::after {
    content: " channels"
  }
}
