//META{"name":"Material_Discord_Custom","description":"A theme based on Google's Material Design","author":"CapnKitten","version":"2.3"}*//{}

/** Material Discord by CapnKitten **/

@import url(https://capnkitten.github.io/BetterDiscord/Material-Discord/css/source.css?v=2.3);

/** General **/

:root {
    --accent-color: #4285f4 !important;
    --accent-color-hover: #3b5074 !important;
    --accent-color-active: #3daee9 !important;
    --accent-rgb: rgba(66, 133, 244, 0.3) !important;
}

/** Fonts **/

* {
    font-family: Ubuntu, sans-serif !important;
}

.markup-2BOw-j pre,
.markup-2BOw-j pre *,
.markup-2BOw-j pre code,
.markup-2BOw-j pre code *,
.markup-2BOw-j code.inline,
.ace_editor:before {
    font-family: 'Operator Mono', monospace !important;
}

/** Custom CSS Editor **/

.ace_editor {
    margin-top: 0 !important;
}

.nameTag-3uD-yy .subtext-3CDbHg,
.ace_editor:before {
    display: none !important;
}

/** Magane **/

/* Enable overflow on channel text area */
.channelTextArea-rNsIhG > .scrollableContainer-2NUZem {
    overflow: visible;
}

div.channel-textarea-stickers[data-v-377ce45c] {
    opacity: 1 !important;
    transform: none !important;
}

div.channel-textarea-stickers-content[data-v-377ce45c] {
    margin-top: 7px !important;
}

div.stickerWindow[data-v-377ce45c] {
    background: var(--popout-alt) !important;
    animation: bottom-pop-out 400ms var(--default-animation) !important;
    right: -118px !important;
    bottom: 76px !important;
    box-shadow: var(--shadow-3dp) !important;
}

div.stickerWindow>div.packs[data-v-377ce45c] {
    background: rgba(0,0,0,0.25) !important;
}

div.stickerWindow div.stickers>div.pack div.sticker[data-v-377ce45c] {
    margin: 4px !important;
}

.innerDisabled-2mc-iF div#magane {
    display: none !important;
}

/** Radial Status **/

[role="img"][aria-label]:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 2px #666;
    border-radius: 50%;
    z-index: 20;
    border: none !important;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm {
    padding-left: 15px;
}

[role="img"][aria-label] foreignObject {
    mask: none;
}

[role="img"][aria-label] foreignObject img {
    border-radius: 50%;
}

[role="img"][aria-label] svg rect {
    display: none;
}

[role="img"][aria-label*="Online"]:before {
    box-shadow: 0 0 0 2.25px #32a852;
}

[role="img"][aria-label*="Online via mobile"]:before {
    box-shadow: 0 0 0 2.25px #4285f4;
}

[role="img"][aria-label*="Do Not Disturb"]:before {
    box-shadow: 0 0 0 2.25px #cc0000;
}

[role="img"][aria-label*="Idle"]:before {
    box-shadow: 0 0 0 2.25px #faa61a;
}

[role="img"][aria-label*="Streaming"]:before {
    box-shadow: 0 0 0 2.25px #6441a5;
}

[role="img"][aria-label*="Offline"]:before {
    box-shadow: 0 0 0 2.25px #4d4d4d;
}

[role="img"][aria-label*="Invisible"]:before {
    box-shadow: 0 0 0 2.25px #4d4d4d;
}

/* Friends/People list */
.peopleListItem-2nzedh .avatar-3W3CeO {
    margin: 3px 12px 0 3px;
}

.peopleListItem-2nzedh .text-37NqbO {
    margin-top: 3px;
}

/* Apply mask to avatars on messages */

.message-2qnXI6 .mask-1l8v16 foreignObject {
    mask: url(#svg-mask-avatar-status-round-40) !important;
}

.message-2qnXI6 .mask-1l8v16 rect {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

/** TODO: Guilds list **/

/*
.listItem-2P_4kh.bd-selected,
.pill-2uzAFe.bd-selected {
    background: none !important;
}

.listItem-2P_4kh .pill-31IEus .item-2hkk8m {
    opacity: 1 !important;
}

.listItem-2P_4kh .pill-1m5BUr .item-2hkk8m,
.listItem-2P_4kh.bd-unread .pill-31IEus .item-2hkk8m,
.listItem-2P_4kh.bd-unread .pill-1m5BUr .item-2hkk8m,
.listItem-2P_4kh .pill-1m5BUr.bd-unread .item-2hkk8m,
.wrapper-21YSNc .expandedFolderBackground-2sPsd- + .listItem-2P_4kh .pill-31IEus .item-2hkk8m {
    height: 8px !important;
    width: 4px;
    top: unset;
    right: unset;
    left: 0;
    margin: initial;
    background: var(--header-primary);
    border-radius: 0 4px 4px 0 !important;
    box-shadow: none;
    z-index: 0;
    transform: none !important;
    pointer-events: none;
}

.wrapper-21YSNc .listItem-2P_4kh {
    width: 100%;
}

.wrapper-21YSNc .expandedFolderBackground-2sPsd- + .listItem-2P_4kh .svg-1X37T1,
.folderIconWrapper-226oVY {
    border-radius: var(--border-radius) !important;
}

.expandedGuilds-1JMD4M .listItem-2P_4kh .pill-31IEus .item-2hkk8m,
.expandedGuilds-1JMD4M .listItem-2P_4kh.bd-unread .pill-31IEus .item-2hkk8m {
    top: unset;
    right: unset;
    left: 1px
}

.expandedFolderBackground-2sPsd- {
    width: 100%;
    left: unset;
    border-radius: 0;
}

.wrapper-21YSNc .expandedFolderBackground-2sPsd-:not(.collapsed-1GMuSb) + .listItem-2P_4kh {
    margin: 0 auto;
}

.expandedGuilds-1JMD4M,
.expandedGuilds-1JMD4M .listItem-2P_4kh {
    width: 100%;
}

.listItem-2P_4kh.bd-unread .pill-31IEus .item-2hkk8m[style*="height: 20px"],
.listItem-2P_4kh.bd-unread .pill-1m5BUr .item-2hkk8mp[style*="height: 20px"],
.wrapper-21YSNc .expandedFolderBackground-2sPsd- + .listItem-2P_4kh .pill-31IEus .item-2hkk8m[style*="height: 20px"] {
    height: 20px !important;
}

.listItem-2P_4kh.bd-unread .pill-31IEus .item-2hkk8m[style*="height: 40px"],
.listItem-2P_4kh.bd-unread .pill-1m5BUr .item-2hkk8mp[style*="height: 40px"],
.wrapper-21YSNc .expandedFolderBackground-2sPsd- + .listItem-2P_4kh .pill-31IEus .item-2hkk8m[style*="height: 40px"] {
    height: 40px !important;
}
*/

/** Spotify **/

.topSectionSpotify-1lI0-P .assetsLargeImageProfile-3YXDex,
.headerSpotify-zpWxgT .assetsLargeImageUserPopout-3Pp8BK {
    border-radius: var(--border-radius);
}

.topSectionSpotify-1lI0-P .activityProfile-2bJRaP {
    padding: 20px !important;
}

/** Badges in Playing profiles **/

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeStaff-13GO7z,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeStaff-13GO7z {
    background-image: url(/assets/4358ad1fb423b346324516453750f569.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgePartner-SjK6L2,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgePartner-SjK6L2 {
    background-image: url(/assets/33fedf082addb91d88abc272b4b18daa.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypesquad-1YIe7Z,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypesquad-1YIe7Z {
    background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypeSquadOnlineHouse1-xN6tES,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypeSquadOnlineHouse1-xN6tES {
    background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypeSquadOnlineHouse2-3jBpXR,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypeSquadOnlineHouse2-3jBpXR {
    background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypeSquadOnlineHouse3-1YbjMX,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypeSquadOnlineHouse3-1YbjMX {
    background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypeSquadOnlineHouse1Winner-3OGyO6,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypeSquadOnlineHouse1Winner-3OGyO6 {
    background-image: url(/assets/26a2dc8c9d70955a988cb377eec84c22.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypeSquadOnlineHouse2Winner-3GW5Sm,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypeSquadOnlineHouse2Winner-3GW5Sm {
    background-image: url(/assets/88d4f11bee9ea34fee59973b33353da0.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeHypeSquadOnlineHouse3Winner-2iVu11,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeHypeSquadOnlineHouse3Winner-2iVu11 {
    background-image: url(/assets/3245b2cd85b787b195ea8f6e10ef5790.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeEarlySupporter-PQB_0a,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeEarlySupporter-PQB_0a {
    background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgePremium-3kZ9Qj,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgePremium-3kZ9Qj {
    background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileBadgeBugHunter-IV0vLE,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileBadgeBugHunter-IV0vLE {
    background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl1-pKd1EZ,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl1-pKd1EZ {
    background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl2-1aIFve,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl2-1aIFve {
    background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl3-33AROf,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl3-33AROf {
    background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl4-2yY8EG,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl4-2yY8EG {
    background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl5-1mIKQ8,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl5-1mIKQ8 {
    background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl6-2tCBLE,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl6-2tCBLE {
    background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl7-3M0RQX,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl7-3M0RQX {
    background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl8-2ot52H,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl8-2ot52H {
    background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg);
}

.topSectionPlaying-1J5E4n .profileBadgeWrapper-rl_RO6 .profileGuildSubscriberlvl9-1qrrRa,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .profileGuildSubscriberlvl9-1qrrRa {
    background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg);
}

/** Current guild booster **/

.topSectionNormal-2-vo2m .BE-badge-CurrentGuildBoost,
.header-2BwW8b:not(.headerSpotify-zpWxgT) .topSectionPlaying-1J5E4n > .BE-badge-CurrentGuildBoost {
    color: #FF73FA !important;
    margin-left: 2px !important;
}

/** Role Members **/

.popoutList-T9CKZQ .selectableItem-1MP3MQ .image-33JSyf.small-5Os1Bb {
    background-size: contain;
    border-radius: 100%;
}

/** Avatar in Member card **/

.root-SR8cQa .avatar-3EQepX,
.root-SR8cQa .avatar-3EQepX:before,
.root-SR8cQa .avatar-3EQepX foreignObject img {
    border-radius: var(--border-radius);
}

/** Restore border radius in Rich Presence large assets **/

.assetsLargeImage-eYwpTX {
    border-radius: 4px !important;
}

/** Disable Streaming badge on Guild icons -- wtf, who cares if some random plebs stream? (this may have undiscovered side effects) **/

.iconBadge-2NuvG9 {
    display: none !important;
}

/** Read All Notifications Button **/

.childWrapper-anI2G9[style="height: 20px;"] {
    background: none !important;
}

/** Member Permissions **/

.member-perm {
    position: relative;
    min-width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
    border: none;
    background: var(--popout-color);
    transition: 200ms ease;
}

/** Fix spacing above usernames on messages **/

.message-2qnXI6.groupStart-23k01U .avatar-1BDn8e {
    position: absolute;
}

/** Show Hidden Channels support **/

.modeLocked-SZJhTy .content-3at_AU svg path:nth-child(2),
.modeLocked-SZJhTy .content-3at_AU .children-Bmpf2Q {
    display: none;
}

.containerDefault-3GGEv_ .wrapper-CU3qI5[data-ref-id="channels--1"] .name-IbjUBS {
    text-transform: capitalize;
}

.containerDefault-3GGEv_ .wrapper-CU3qI5[data-ref-id="channels--1"] .name-IbjUBS::after {
    content: ' channels';
}
