@charset "utf-8";

/** Variables **/

$accent-color: #4285f4;
$accent-color-hover: #3b5074;
$accent-color-active: #3daee9;
$accent-rgb: rgba(66, 133, 244, 0.3);

/* stylelint-disable-next-line value-keyword-case */
$font-family: ubuntu, sans-serif;
$font-family-monospace: 'Operator Mono', monospace
