@charset "utf-8";

$accentColor: #4285f4;
$accentColorHover: #3b5074;
$accentColorActive: #3daee9;
$accentRgb: rgba(66, 133, 244, 0.3);

$fontFamily: ubuntu, sans-serif;
$fontFamilyMonospace: 'Operator Mono', monospace
