@charset "utf-8";

/** Spotify in Member and User Cards **/

.topSectionSpotify-1lI0-P .activityProfile-2bJRaP {
  .timeBarProfile-10b-fm {
    position: relative !important;
    top: 0 !important;
    margin-top: 20px !important
  }

  .content-3JfFJh,
  .listeningActionsProfile-1fYwru {
    margin-top: 0
  }
}

.headerSpotify-zpWxgT {
  .bodyNormal-2D39hT {
    padding: 12px 12px 0 !important
  }

  .buttonsWrapper-2spIeK {
    padding: 0 12px 12px !important
  }
}

/** Role Members **/

.popoutList-T9CKZQ .selectableItem-1MP3MQ .image-33JSyf.small-5Os1Bb {
  background-size: contain;
  border-radius: 100%
}

/** Avatar in Member Cards **/

.root-SR8cQa .avatar-3EQepX {
  &,
  &::before,
  foreignObject img {
    border-radius: var(--border-radius)
  }
}

/** Restore border radius in Rich Presence large assets **/

.assetsLargeImage-eYwpTX {
  border-radius: 4px !important
}

/** Roles in Member Popouts **/

.userPopout-3XzG_A,
.member-1q7VfX {
  .role-2irmRk {
    min-width: 24px;
    height: 24px;

    .roleCircle-3xAZ1j {
      margin-left: 0
    }
  }
}

.userPopout-3XzG_A,
.member-1q7VfX {
  .role-2irmRk button,
  .roleCircle-3xAZ1j,
  .roleCircleButton-377y0l {
    width: 24px;
    height: 24px
  }
}

/** Fixes reply styling for missing messages **/

.replyBadge-r1su3o {
  margin-left: 40px
}

/** Nitro user's banner in Discord settings **/

.settingsBanner-15-pZk {
  height: auto;
  min-height: 100px
}

.bannerPremium-2hSAwz {
  padding-top: 40% /* 5:2 aspect ratio (2 / 5 = 0.4) */
}

.bannerPremium-2hSAwz + .userInfo-iCloHO .avatar-1uQSZT {
  top: unset;
  bottom: 238px
}

/** BetterDiscord-related fixes **/

.plugin-settings {
  min-height: 35px
}

.plugin-input-group h2 {
  cursor: pointer
}

.bd-addon-modal {
  width: auto !important;
  min-width: 600px !important;
  max-width: 100% !important;

  .bd-addon-modal-settings {
    padding: 16px !important
  }
}

.container-3auIfb {
  &[style*="background-color: rgb(114"] {
    background-color: var(--accent-rgb) !important;

    .slider-TkfMQL {
      background-color: var(--accent-color) !important
    }
  }

  &[style*="background-color: rgb(114, 118"] {
    background-color: rgb(65 65 65 / 65%) !important;

    .slider-TkfMQL {
      background-color: #777 !important
    }
  }

  .slider-TkfMQL {
    transform: translate3d(2px, 0, 0)
  }
}
