@charset "utf-8";

/** Disable Streaming badge on Guild icons **/

[aria-label="Servers"] [class^="listItem-"] {
  [class^="iconBadge-"],
  rect[id$="-upper_badge_masks"],
  use[href$="-upper_badge_masks"] {
    display: none !important
  }
}

/** Message controls - simplified styling, and their positions now make more sense in multi-messages **/

.message-2qnXI6 {
  .buttonContainer-DHceWr {
    right: -8px !important;

    .buttons-cl5qTG {
      transition: opacity 250ms var(--default-animation) !important;

      &,
      &:hover {
        max-width: unset !important
      }

      .wrapper-2aW0bm {
        box-shadow: none !important;
        background: none !important;
        border-radius: 0 !important;

        .button-1ZiXG9 {
          border-radius: 16px !important
        }
      }
    }
  }

  &.groupStart-23k01U {
    .buttonContainer-DHceWr {
      top: 45px !important
    }

    .repliedMessage-VokQwo ~ .buttonContainer-DHceWr {
      top: 68px !important
    }
  }

  &:not(.groupStart-23k01U) .buttonContainer-DHceWr {
    top: 24px !important
  }
}

/** Message timestamps at hover **/

.container-3FojY8 .timestampVisibleOnHover-2bQeI4,
.cozy-3raOZG.wrapper-2a6GCs .timestamp-3ZCmNB.alt-1uNpEt {
  transition: opacity 250ms !important
}

/** Message replies **/

.repliedMessage-VokQwo {
  opacity: 1;
  transition: 250ms opacity;

  .username-1A8OIy {
    opacity: 1 !important
  }
}
