@charset "utf-8";
@import "variables";

/** General **/

:root {
  --app-font: #{$font-family} !important;
  --code-font: #{$font-family-monospace} !important;
  --accent-color: #{$accent-color} !important;
  --accent-color-hover: #{$accent-color-hover} !important;
  --accent-color-active: #{$accent-color-active} !important;
  --accent-rgb: #{$accent-rgb} !important
}

/** Fonts **/

.contentColumnDefault-1VQkGM .ace_editor::before {
  /* font-family: $font-family-monospace !important; */
  display: none !important
}

/** Upstream font for title bar **/

.wordmark-2u86JB.wordmarkWindows-2dq6rw {
  &::before,
  &::after {
    font-family: $upstream-font-family !important
  }
}
