@charset "utf-8";

@import "_variables";

/** General **/

:root {
  --accent-color: #{$accent-color} !important;
  --accent-color-hover: #{$accent-color-hover} !important;
  --accent-color-active: #{$accent-color-active} !important;
  --accent-rgb: #{$accent-rgb} !important
}

/** Fonts **/

* {
  font-family: $font-family !important
}

.markup-2BOw-j {
  pre,
  pre *,
  pre code,
  pre code *,
  code.inline {
    font-family: $font-family-monospace !important
  }
}

.ace_editor::before {
  font-family: $font-family-monospace !important
}
