@charset "utf-8";

/** Generic "Discord" title bar **/

div[class^="wordmarkWindows_"]::before,
div[class^="wordmarkWindows_"]::after {
  font-family: "Google Sans", sans-serif !important
}

div[class^="wordmarkWindows_"] {
  margin-left: 5px
}

div[class^="wordmarkWindows_"]::before {
  display: none
}

div[class^="wordmarkWindows_"]::after {
  font-weight: bold;
  content: "Discord"
}

/** Disable Streaming/Voice badges on Guild icons **/

div[class^="listItem_"] div[class^="wrapper_"] {
  & > svg defs rect[id$="-upper_badge_masks"],
  & > div[class^="upperBadge_"] {
    display: none
  }
}

/** Avoid text clipping due to message border radius CSS trickeries **/

.wrapper__09ecc:not(.groupStart__56db5)::before,
.wrapper__09ecc:not(.groupStart__56db5)::after {
  /* this might be more closely related with your desktop's render resolution instead */
  top: calc(var(--message-radius) / 1.45 * -1);
  border-width: calc(var(--message-radius) / 2.8)
}

/** Limit height of user popup **/

div[class^="userPopoutOverlayBackground_"] {
  max-height: 60vh
}

/** Disable Gift Nitro button **/

div[class*="buttons_"] button[aria-label="Send a gift"] {
  display: none !important
}

/** Always full width for codeblocks **/

[class*="markup_"] pre {
  max-width: 100% !important
}
