@charset "utf-8";

/** Variables **/

$accent-color: #4285f4;
$accent-color-hover: #3b5074;
$accent-color-active: #3daee9;
$accent-rgb: "66, 133, 244";

/* stylelint-disable-next-line value-keyword-case */
$font-family: Ubuntu; /* This only accepts one font name */
$font-family-monospace: "Fira Code"; /* This only accepts one font name */
$upstream-font-family: "Google Sans", sans-serif
