@charset "utf-8";

/** Radial Status **/

$online: #32a852;
$online-via-mobile: #4285f4;
$do-not-disturb: #c00;
$idle: #faa61a;
$streaming: #6441a5;
$offline: #4d4d4d;
$invisible: #4d4d4d;
$box-shadow-spread-radius: 2.5px;
$box-shadow-spread-radius-in-cards: 3.5px;

.wrapper-3t9DeA[role="img"] {
  &[aria-label] {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 $box-shadow-spread-radius $offline;
      border-radius: 50%;
      z-index: 20;
      border: none !important
    }

    foreignObject {
      mask: none;

      img {
        border-radius: 50%
      }
    }

    svg rect {
      display: none
    }
  }

  &[aria-label*="Online"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $online
  }

  &[aria-label*="Online via mobile"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $online-via-mobile
  }

  &[aria-label*="Do Not Disturb"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $do-not-disturb
  }

  &[aria-label*="Idle"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $idle
  }

  &[aria-label*="Streaming"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $streaming
  }

  &[aria-label*="Offline"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $offline
  }

  &[aria-label*="Invisible"]::before {
    box-shadow: 0 0 0 $box-shadow-spread-radius $invisible
  }
}

/* Override thickness in Member and User Cards */
.userPopout-3XzG_A,
.header-QKLPzZ {
  .wrapper-3t9DeA[role="img"] {
    &[aria-label] {
      &::before {
        box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $offline
      }
    }

    &[aria-label*="Online"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $online
    }

    &[aria-label*="Online via mobile"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $online-via-mobile
    }

    &[aria-label*="Do Not Disturb"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $do-not-disturb
    }

    &[aria-label*="Idle"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $idle
    }

    &[aria-label*="Streaming"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $streaming
    }

    &[aria-label*="Offline"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $offline
    }

    &[aria-label*="Invisible"]::before {
      box-shadow: 0 0 0 $box-shadow-spread-radius-in-cards $invisible
    }
  }
}

/* Disable masks in avatars */
.avatarHint-1qgaV3 foreignObject {
  mask: none;
  border-radius: 50%
}

/* Friends/People list */
.peopleListItem-2nzedh {
  .avatar-3W3CeO {
    margin: 3px 12px 0 3px
  }

  .text-37NqbO {
    margin-top: 3px
  }
}
